<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>SEEMode.dtrace</string>
	<key>CFBundleName</key>
	<string>dtrace</string>
    <key>NSHumanReadableCopyright</key>
	<string>(c) 2007 folkert@feedface.com</string>
    <key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
    <key>CFBundleGetInfoString</key>
	<string>1.0, (c) folkert@feedface.com</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
</dict>
</plist>
