<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Comments</key>
	<dict>
		<key>EndTag</key>
		<string>*/</string>
		<key>StartTag</key>
		<string>/*</string>
	</dict>
	<key>Completions</key>
	<array>
	
		<dict>
			<key>Hint</key>
			<string>{exp:channel:calendar}</string>
			<key>ID</key>
			<string>exp:channel:calendar</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:channel:calendar}</string>
			<key>String</key>
			<string>exp:channel:calendar</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:channel:categories}</string>
			<key>ID</key>
			<string>exp:channel:categories</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:channel:categories}</string>
			<key>String</key>
			<string>exp:channel:categories</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:channel:category_archive}</string>
			<key>ID</key>
			<string>exp:channel:category_archive</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:channel:category_archive}</string>
			<key>String</key>
			<string>exp:channel:category_archive</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:channel:category_heading}</string>
			<key>ID</key>
			<string>exp:channel:category_heading</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:channel:category_heading}</string>
			<key>String</key>
			<string>exp:channel:category_heading</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:channel:entries channel="news"}</string>
			<key>ID</key>
			<string>exp:channel:entries</string>
			<key>MoveCursor</key>
			<string>10</string>
			<key>PostString</key>
			<string> channel=""}{/exp:channel:entries}</string>
			<key>String</key>
			<string>exp:channel:entries</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:channel:entry_form}</string>
			<key>ID</key>
			<string>exp:channel:entry_form</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:channel:entry_form}</string>
			<key>String</key>
			<string>exp:channel:entry_form</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:channel:info channel="news"}</string>
			<key>ID</key>
			<string>exp:channel:info</string>
			<key>MoveCursor</key>
			<string>10</string>
			<key>PostString</key>
			<string> channel=""}{/exp:channel:info}</string>
			<key>String</key>
			<string>exp:channel:info</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:channel:month_links}</string>
			<key>ID</key>
			<string>exp:channel:month_links</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:channel:month_links}</string>
			<key>String</key>
			<string>exp:channel:month_links</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:channel:next_entry}</string>
			<key>ID</key>
			<string>exp:channel:next_entry</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:channel:next_entry}</string>
			<key>String</key>
			<string>exp:channel:next_entry</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:comment:ajax_edit_url}</string>
			<key>ID</key>
			<string>exp:comment:ajax_edit_url</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:comment:ajax_edit_url}</string>
			<key>String</key>
			<string>exp:comment:ajax_edit_url</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:comment:entries}</string>
			<key>ID</key>
			<string>exp:comment:entries</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:comment:entries}</string>
			<key>String</key>
			<string>exp:comment:entries</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:comment:form}</string>
			<key>ID</key>
			<string>exp:comment:form</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:comment:form}</string>
			<key>String</key>
			<string>exp:comment:form</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:comment:notification_links}</string>
			<key>ID</key>
			<string>exp:comment:notification_links</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:comment:notification_links}</string>
			<key>String</key>
			<string>exp:comment:notification_links</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:comment:preview}</string>
			<key>ID</key>
			<string>exp:comment:preview</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:comment:preview}</string>
			<key>String</key>
			<string>exp:comment:preview</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:email:contact_form}</string>
			<key>ID</key>
			<string>exp:email:contact_form</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:email:contact_form}</string>
			<key>String</key>
			<string>exp:email:contact_form</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:email:tell_a_friend}</string>
			<key>ID</key>
			<string>exp:email:tell_a_friend</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:email:tell_a_friend}</string>
			<key>String</key>
			<string>exp:email:tell_a_friend</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:emoticon}</string>
			<key>ID</key>
			<string>exp:emoticon</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:emoticon}</string>
			<key>String</key>
			<string>exp:emoticon</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:ip_to_nation:world_flags}</string>
			<key>ID</key>
			<string>exp:ip_to_nation:world_flags</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:ip_to_nation:world_flags}</string>
			<key>String</key>
			<string>exp:ip_to_nation:world_flags</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:mailinglist:form}</string>
			<key>ID</key>
			<string>exp:mailinglist:form</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:mailinglist:form}</string>
			<key>String</key>
			<string>exp:mailinglist:form</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:member:custom_profile_data}</string>
			<key>ID</key>
			<string>exp:member:custom_profile_data</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:member:custom_profile_data}</string>
			<key>String</key>
			<string>exp:member:custom_profile_data</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:member:ignore_list}</string>
			<key>ID</key>
			<string>exp:member:ignore_list</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:member:ignore_list}</string>
			<key>String</key>
			<string>exp:member:ignore_list</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:member:login_form}</string>
			<key>ID</key>
			<string>exp:member:login_form</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:member:login_form}</string>
			<key>String</key>
			<string>exp:member:login_form</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:moblog:check}</string>
			<key>ID</key>
			<string>exp:moblog:check</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:moblog:check}</string>
			<key>String</key>
			<string>exp:moblog:check</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:pages:load_site_pages}</string>
			<key>ID</key>
			<string>exp:pages:load_site_pages</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:pages:load_site_pages}</string>
			<key>String</key>
			<string>exp:pages:load_site_pages</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:query}</string>
			<key>ID</key>
			<string>exp:query</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:query}</string>
			<key>String</key>
			<string>exp:query</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:referrer}</string>
			<key>ID</key>
			<string>exp:referrer</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:referrer}</string>
			<key>String</key>
			<string>exp:referrer</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:rss:feed}</string>
			<key>ID</key>
			<string>exp:rss:feed</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:rss:feed}</string>
			<key>String</key>
			<string>exp:rss:feed</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:search:advanced_form}</string>
			<key>ID</key>
			<string>exp:search:advanced_form</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:search:advanced_form}</string>
			<key>String</key>
			<string>exp:search:advanced_form</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:search:search_results}</string>
			<key>ID</key>
			<string>exp:search:search_results</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:search:search_results}</string>
			<key>String</key>
			<string>exp:search:search_results</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:search:simple_form}</string>
			<key>ID</key>
			<string>exp:search:simple_form</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:search:simple_form}</string>
			<key>String</key>
			<string>exp:search:simple_form</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:simple_commerce:purchase}</string>
			<key>ID</key>
			<string>exp:simple_commerce:purchase</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:simple_commerce:purchase}</string>
			<key>String</key>
			<string>exp:simple_commerce:purchase</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:stats}</string>
			<key>ID</key>
			<string>exp:stats</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:stats}</string>
			<key>String</key>
			<string>exp:stats</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:updated_sites:pings}</string>
			<key>ID</key>
			<string>exp:updated_sites:pings</string>
			<key>MoveCursor</key>
			<string>1</string>
			<key>PostString</key>
			<string>}{/exp:updated_sites:pings}</string>
			<key>String</key>
			<string>exp:updated_sites:pings</string>
		</dict>
		<dict>
			<key>Hint</key>
			<string>{exp:wiki}</string>
			<key>ID</key>
			<string>exp:wiki</string>
			<key>PostString</key>
			<string>}</string>
			<key>String</key>
			<string>exp:wiki</string>
		</dict>
	</array>
	<key>Name</key>
	<string>ExpressionEngine</string>
</dict>
</plist>
