<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
	<key>comment.line</key>
	<string># comment</string>
	<key>keyword.function</key>
	<string>puts scan defined?</string>
	<key>keyword.class</key>
	<string>if class do while begin</string>
	<key>keyword.type</key>
	<string>public</string>
	<key>language.variable.instance</key>
	<string>@my_var</string>
	<key>constant.numeric</key>
	<string>0 0x4a 0713 1.2e-3 0b01011</string>
	<key>constant.numeric.character</key>
	<string>?\n ?d \x4a</string>
	<key>constant.numeric.keyword</key>
	<string>true false nil</string>
	<key>string</key>
	<string>"lorem ipsum"</string>
  </dict>
</plist>
