<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>SEEMode.forth</string>
	<key>CFBundleName</key>
	<string>Forth</string>
    <key>NSHumanReadableCopyright</key>
	<string>© 2014 Maximilian Irro, max@disposia.org</string>
    <key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
    <key>CFBundleGetInfoString</key>
	<string>1.0, Copyright  Maximilian Irro 2014</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>TCMModeExtensions</key>
	<array>
	   <string>fs</string>
	   <string>frt</string>
	   <string>fth</string>
	   <string>4th</string>
	</array>
</dict>
</plist>
